@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EduSA";
  src: url("/fonts/EduSA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: "Inter", "sans-serif";
  --font-edusa: "EduSA", "sans-serif";
  --color-primary: #161179;
  --color-danger: #dc2525;
  --color-warning: #ff9b17;
}
